/* divs */
#top-menu {
    height: 30px;
    background: #1d1d1d;
    color: #efefef;
    padding-top: 7px;
    margin-bottom: 30px;
}
#score_form, #course_data {
}
#course_data {
    background: white;
    border: 0px solid #efefef;
    border-bottom: 2px solid #efefef;
}

/* classes */
.course-box {
    background: #efefef;
    padding: 10px;
    margin: 3px 0px;
}
.clearing {
    clear:both;
}

/* links */
#top-menu a {
    color: #D4D4D4;
    text-decoration: none;
    padding: 5px 10px;
}
#top-menu a:hover {
    color: white;
}

/* map */
#map_canvas {
    height: 100%;
    margin: 10px;
}
#map {
    display: block;
    height: 250px;
}
