<!DOCTYPE html>
<html>
    <head>
      
        <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='skeleton.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dg_style.css') }}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    {# if there is a course location, init function #}
    <body {% if course and course.location %}onload="init(){% endif %}">
      <div class="container">  
      <div id="top-menu" class="sixteen columns">
        <a href="{{ url_for('index_page.index') }}">Home</a>

          {% if g.user %}
            | <a href="{{ url_for ("logout") }}">sign out</a>
          {% else %}
            | <a href="{{ url_for ("login") }}">sign in</a>
          {% endif %}
      </div><!-- end top-menu -->
        
          {% block content %}
          {% endblock content %}

      </div><!-- end container -->
    </body>
</html>
