{% extends 'base.html' %}

{% block extra_head %}
<!-- OPEN STREET MAP -->
<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<script>
    {% if course and course.location %}
    
      function init() {
        var lat            = {{ course.location[0] }};
        var lon            = {{ course.location[1] }};
        var zoom           = 16;

        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(lon, lat).transform(fromProjection, toProjection);

        map = new OpenLayers.Map("map");
        var mapnik         = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        map.setCenter(position, zoom);
      }

    {% else %}
      $(document).ready(function() {
        $('#map').html('No Map Data');
      });
    {% endif %}
</script>
{% endblock extra_head %}

{% block content %}

{% for field in form.errors %}
{% for error in form.errors[field] %}
    <div class="alert alert-error">
        <strong>Error!</strong> {{error}}
    </div>
{% endfor %}
{% endfor %}


  <h1>{{ course.name }}</h1>
  <p>{{ course.description }}</p>
  <div id="map-canvas"></div>
  <div id="map" class="twelve columns"></div>

  <div class="clearing"</div>

  <div class="container">
      <div id="score_form" class="five columns">
        {% from "_formhelpers.html" import render_field %}
          <form method="POST" action=".">
            {{ form.csrf_token }}
            <dl>
              {{ render_field(form.score) }}
              {{ render_field(form.baskets) }}
            </dl>
            <p><input type="submit" value="Submit Score">
          </form>
      </div>

      <div id="course_data" class="eight columns">
        <h3>{{ course.name }} data</h3>
        {% if data.nine_basket_avg %}
          <p>Nine baskets average score: <strong>{{ data.nine_basket_avg }}</strong></p>
        {% endif %}
        {% if data.eighteen_basket_avg %}
          <p>Eighteen baskets average score: <strong>{{ data.eighteen_basket_avg }}</strong></p>
        {% endif %}
      </div>
  </div>
  
{% endblock content %}