{% extends 'base.html' %}

{% block extra_head %}
<!-- OPEN STREET MAP -->
<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<script>
    {% if course and course.location %}
    
      function init() {
        var lat            = {{ course.location[0] }};
        var lon            = {{ course.location[1] }};
        var zoom           = 14;

        var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
        var position       = new OpenLayers.LonLat(lon, lat).transform(fromProjection, toProjection);

        map = new OpenLayers.Map("map");
        var mapnik = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);

        var markers = new OpenLayers.Layer.Markers( "Markers" );
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(position));

        map.setCenter(position, zoom);
      }

    {% else %}
      $(document).ready(function() {
        $('#map').html('No Map Data');
      });
    {% endif %}
</script>
{% endblock extra_head %}

{% block content %}

<div class="sixteen columns">

  {% for field in form.errors %}
  {% for error in form.errors[field] %}
      <div class="alert alert-error">
          <strong>Error!</strong> {{error}}
      </div>
  {% endfor %}
  {% endfor %}

  <h1>{{ course.name }}</h1>
</div><!-- end wrapper -->

<div class="sixteen columns">
  <div id="map-canvas" class="sixteen columns"></div>
  <div id="map" class="sixteen columns"></div>
</div>

<div class="clearing" style="margin-bottom:30px"></div>


{% if g.user %}

<div class="sixteen columns">
  <p>{{ course.description }}</p>
  <hr />
</div>

<div id="score_form" class="one-third column">
  <h3>Record your score</h3>
  {% from "_formhelpers.html" import render_field %}
    <form method="POST" action=".">

      {{ form.csrf_token }}
      <dl>
        {{ render_field(form.created) }}
        {{ render_field(form.score) }}
        {{ render_field(form.baskets) }}
      </dl>
      <p><input type="submit" value="Submit Score">
    </form>
</div>

<div id="course_data" class="two-thirds column">
  <h3>Your {{ course.name }} data</h3>
  {% if data.last_round %}
    <p>Last Played: <strong>{{ data.last_round.created.strftime('%A %e %b, %Y') }}</strong></p>
    <p>Last Score: <strong>{{ data.last_round.score }}</strong> ({{ data.last_round.baskets }} baskets)<p>
  {% endif %}


  <table>
    <th></th>
    <th><strong>Nine Baskets</strong></th>
    <th><strong>Eighteen Baskets</strong></th>
    <tr class="even">
      <td>Best</td>
      <td>
        {% if data.nine_score_list %}
            {{ data.nine_score_list[0] }} [
                {% if data.nine_score_list[0] > 27 %}+{% endif %}{{ data.nine_score_list[0]|subtract(27) }} ]
        {% else %}No data
        {% endif %}
      </td>
      <td>
         {% if data.eighteen_score_list %}
            {{ data.eighteen_score_list[0] }} [
                {% if data.eighteen_score_list[0] > 54 %}+{% endif %}{{ data.eighteen_score_list[0]|subtract(54) }} ]
        {% else %}No data
        {% endif %}
      </td>
    </tr>
    <tr class="odd">
      <td>Worst</td>
      <td>
        {% if data.nine_score_list %}
            {{ data.nine_score_list[-1] }} [
                {% if data.nine_score_list[-1] > 27 %}+{% endif %}{{ data.nine_score_list[-1]|subtract(27) }} ]
        {% else %}No data
        {% endif %}
      </td>
      <td>
         {% if data.eighteen_score_list %}
            {{ data.eighteen_score_list[-1] }} [
                {% if data.eighteen_score_list[-1] > 54 %}+{% endif %}{{ data.eighteen_score_list[-1]|subtract(54) }} ]
        {% else %}No data
        {% endif %}
      </td>
    </tr>
    <tr class="even">
      <td>Avg</td>
      <td>
        {% if data.nine_basket_avg %}
            {{ data.nine_basket_avg }} [
                {% if data.nine_basket_avg > 27 %}+{% endif %}{{ data.nine_basket_avg|subtract(27) }} ]
        {% else %}No data
        {% endif %}
      </td>
      <td>
        {% if data.eighteen_basket_avg %}
            {{ data.eighteen_basket_avg }} [
                {% if data.eighteen_basket_avg > 54 %}+{% endif %}{{ data.eighteen_basket_avg|subtract(54) }} ]
        {% else %}No data
        {% endif %}
      </td>
    </tr>
  </table>  

</div>


{% else %}
<div>
  <h1>Sign in to start recording you scores for {{ course.name }}!</h1> 
</div>
{% endif %}


  
{% endblock content %}